@model IEnumerable<TruckViewModel>

@{
    ViewData["Title"] = "Truck";
}

<h2>Trucks</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.truck.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.truck.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.truck.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.truck.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.truck.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truck.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truck.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truck.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.truck.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Remove", "Remove", new { id=item.truck.Id })
            </td>
        </tr>
}
    </tbody>
</table>
