@model List<Volvo.Domain.Truck>

@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<fieldset>
    <legend>Pesquisa de Caminhões</legend>    

    @using (Html.BeginForm("Index", "Formulario", FormMethod.Get))
    {
        @*<div class="row">
            <div class="col-lg-3">
                @Html.EditorFor(model => model.fluxo_tipo_id, new { selectList = (SelectList)ViewBag.DDLFluxoTipo })
            </div>
            <div class="col-lg-3">
                @Html.EditorFor(model => model.tipo_curso, new { selectList = (SelectList)ViewBag.DDLTipoCurso })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.EditorFor(model => model.fluxo_modalidade_id, new { selectList = (SelectList)ViewBag.DDLFluxoModalidade })
            </div>
            <div class="col-lg-3">
                @Html.EditorFor(model => model.cod_fluxo, new { placeholder = "" })
            </div>

        </div>*@

        <div class="row">
            <br />
            @*<div class="col-lg-3">
                <button type="submit" class="btn btn-sm btn-primary">Pesquisar</button>
            </div>*@
            <div class="col-lg-3">
                <button type="button" class="btn btn-sm btn-secondary" onclick="@("window.location.href='" + @Url.Action("Create", "Truck") + "'");">Adicionar novo Caminhão</button>
            </div>
        </div>
    }
    @if (Model != null)
    {
        <br />
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Value</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@*@item.nome*@</td>
                    <td>@item.Value</td>
                    <td>@item.Date</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                </tr>
                }
            </tbody>
        </table>
    }

</fieldset>
